/* Reset padding */

* {
    padding: 0;
}

/* Common styles */

body {
    max-width: 700px;
    width: 96%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-size: 1.2rem;
}

p, a {
    font-size: 0.8rem;
}

nav {
    display: flex;
}

i {
    margin-right: 0.8rem;
}

/* Navbar styles */

nav {
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav a {
    color: black;
    margin-right: 1rem;
    font-weight: bold;
    text-decoration: none;
}

/* About me section */

#aboutme {
    display: flex;
}


#aboutme img {
   margin-left: 2rem;
   border-radius: 10px;
   height: 100%;
   width: 260px;
    
}

/* Projects section styles */

#projects p {
    font-weight: bold;
    line-height: 0;
}

#projects p:hover {
    cursor: pointer;
}

/* Skills section styles */

#skills {
    margin-top: 1.6rem;
}

#skills div {
    font-size: 1.5rem;
}

#skills div i {
    margin-right: 1rem;
}

/* Footer styles */

footer {
    text-align: center;
}

/* Contact section styles */

#contact a {
    font-size: 1.5rem;
    color: black;
}

/* Media query */

@media screen and (max-width: 600px){
    #aboutme {
        flex-direction: column;
    }
    #aboutme img{
        margin-left: 0;
    }

    h2 {
        font-size: 1.2rem;
    }

    p, a {
        font-size: 1rem;
    }

    nav ul {
        margin-left: 1rem;
    }
}
