/* Reset padding */

* {
    padding: 0;
}

/* Common styles */

body {
    max-width: 700px;
    width: 96%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-size: 1.1rem;
}

p, a{
    font-size: 0.8rem;
}

nav {
    display: flex;
}

/* Navbar styles */

nav {
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav a {
    color: black;
    margin-right: 1rem;
    font-weight: bold;
    text-decoration: none;
}

/* About me section */

#aboutme {
    display: flex;
}


#aboutme img {
   margin-left: 0.3rem;
   border-radius: 10px;
   height: 100%;
   width: 260px;
    
}

/* Projects section styles */

#projects p {
    font-weight: bold;
    line-height: 0;
}