/* Reset padding and margin */

* {
    margin: 0;
    padding: 0;
}

/* Common styles */

body {
    max-width: 900px;
    margin: 0 auto;
    padding: 0.5rem;
    font-family: 'Open Sans', sans-serif;
}


/* Navbar styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav a {
    color: black;
    margin-right: 1rem;
    font-weight: bold;
    text-decoration: none;
}